.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}
