@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

.detailsBanner {
  width: 100%;
  background-color: var(--black);
  padding-top: 100px;
  margin-bottom: 50px;
  @include md {
    margin-bottom: 0;
    padding-top: 120px;
    min-height: 700px;
  }
  .backdropImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .opacityLayer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .left {
      flex-shrink: 0;
      .posterImg {
        display: block;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include md {
          max-width: 350px;
        }
      }
    }
    .right {
      color: white;
      .title {
        font-size: 28px;
        line-height: 40px;
        @include md {
          font-size: 34px;
          line-height: 44px;
        }
      }
      .subTitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        opacity: 0.5;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        @include md {
          font-size: 20px;
          line-height: 28px;
        }
      }
      .overview {
        margin-bottom: 10px;
        .heading {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .description {
          line-height: 24px;
          @include md {
            padding-right: 100px;
          }
        }
      }
      .circleRating {
        position: relative;
        left: 0;
        top: 0;
        max-width: 70px;
        @include md {
          max-width: 90px;
        }
        .CircularProgressbar-text {
          fill: white;
        }
      }
      .playbtn {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        svg {
          width: 60px;
          height: 60px;
          transition: all 0.7s ease-in-out;
          @include md {
            width: 80px;
            height: 80px;
          }
        }
        .text {
          font-size: 20px;
          transition: all 0.7s ease-in-out;
        }
        &:hover {
          .text {
            color: var(--pink);
          }
          svg {
            color: var(--pink);
          }
        }
      }
      .row {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;
      }

      .info {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 0;
        display: flex;
        .infoItem {
          margin-right: 10px;
          display: flex;
          flex-flow: row wrap;
        }
        .text {
          margin-right: 10px;
          opacity: 0.5;
          line-height: 24px;
          &.bold {
            font-weight: 600;
            opacity: 1;
          }
        }
      }
    }
  }

  .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .contentWrapper {
      display: flex;
      gap: 50px;
    }
    .left {
      flex-shrink: 0;
      width: 100%;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1.5;
      margin-right: 50px;
      @include md {
        max-width: 350px;
      }
    }
    .right {
      width: 100%;
      .row {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 50px;
        &:nth-child(2) {
          width: 75%;
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          width: 50%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
